.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2vw;
}

.items:nth-child(1) {
  /*--clock--*/
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.items:nth-child(2) {
  /*--weather--*/
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.items:nth-child(3) {
  /*--quote--*/
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.items:nth-child(4) {
  /*--img--*/
  grid-column: 3 / 5;
  grid-row: 2 / 4;
}

.items:nth-child(5) {
  /*--todolist--*/
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}


.bg {
  width: 90vw;
  height: 90vh;
  border-radius: 40px;
  align-items: center;
  margin: 5vh 5vw 5vh 5vw;
}


/*-- login --*/
.hidden {
  display: none;
}

input {
  width: 30vw;
  height: 3vh;
}

/*-- clock --*/
.clockBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 3vw;
  margin-top: 3vh;
  width: 19vw;
  height: 26vh;
  background-color: white;
  opacity: 60%;
  border-radius: 25px;
  align-items: left;
  /* justify-content: center; */
}

.clock-h2 {
  font-size: 1.6em;
  text-align: left;
  margin-top: 3vh;
  margin-left: 2vw;
  color: #483D8B;
}

.clock {
  font-size: 2.5em;
  font-weight: bolder;
  text-align: center;
  color: #000069;
  margin-top: 4vh;
}

/**--weather--*/
.weatherBox {
  margin-top: 3vh;
  width: 19vw;
  height: 26vh;
  background-color: white;
  opacity: 60%;
  border-radius: 25px;
  align-items: left;
}

#weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4{
  margin-top: 1vw;
  margin-bottom: 0;
  font-size: 1.6em;
  font-weight: 500;
  color: #000069;
}

.tempp {
  margin-top: auto;
  font-size: 2.5em;
  font-weight: bolder;
  text-align: center;
  color: #000069;
}

/*-- quote --*/
.quoteBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: 2vw;
  margin-top: 3vh;
  width: 40vw;
  height: 26vh;
  background-color: white;
  border-radius: 25px;
  color: #483D8B;
  opacity: 60%;
  font-weight: bold;
}

.quote {
  margin-top: 1vh;
  margin-left: 3vw;
  margin-right: 3vw;
}

.first {
  font-size: 1.2em;
}

.last {
  font-size: 1em;
}

/*-- img --*/
img {
  width: 40vw;
  height: 55vh;
  border-radius: 25px;
  opacity: 100%;
  object-fit: cover;
  margin-bottom: 3vh;
  margin-right: 3vw;
}

/*-- todo --*/
.todolist {
  width: 40vw;
  height: 55vh;
  background-color: white;
  opacity: 60%;
  border-radius: 25px;
  margin-bottom: 3vh;
  margin-left: 3vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

}

.todoinput{
  margin-top: 4vh;
}

li {
  font-size: 1.1em;
}

#todo-list {
  color: #000069;
  text-align: left;
}



@media (max-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 90vw;
    height: 90%;
    gap: 3vh;
  }

  .items:nth-child(1) {
    /*--clock--*/
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-left: 5vw;
    width: 39vw;
  }

  .clock {
    font-size: 1.8em;
  }

  .items:nth-child(2) {
    /*--weather--*/
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 39vw;
    margin-right: 5vw;
  }

  .items:nth-child(3) {
    /*--quote--*/
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-left: 5vw;
    width: 80vw;
  }

  .items:nth-child(4) {
    /*--img--*/
    grid-column: 1 / 3;
    grid-row: 5 / 7;
  }

  img{
    margin-left: 5vw;
    width: 80vw;
  }

  .items:nth-child(5) {
    /*--todolist--*/
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    margin-left: 5vw;
    width: 80vw;
  }
}